[submodule "themes/black-and-light"]
	path = themes/black-and-light
	url = https://github.com/davidhampgonsalves/hugo-black-and-light-theme.git
[submodule "themes/themes/paige"]
	path = themes/themes/paige
	url = https://github.com/willfaught/paige.git
[submodule "glim-midnight"]
	path = glim-midnight
	url = https://github.com/mansoorbarri/glim-midnight.git
